/.idea/
/target/
/trunk/main/java/com/cappellinispirito/ispw_project_202223_jfx/Model/dao/conenctor
/trunk/main/java/com/cappellinispirito/ispw_project_202223_jfx/Model/dao/conenctor/
/trunk/main/java/com/cappellinispirito/ispw_project_202223_jfx/Model/dao/conenctor/
