/.idea/
/target/
/trunk/main/java/com/cappellinispirito/ispwproject202223jfx/model/dao/conenctor
/trunk/main/java/com/cappellinispirito/ispwproject202223jfx/model/dao/conenctor/
/trunk/main/java/com/cappellinispirito/ispwproject202223jfx/model/dao/conenctor/
