
#top_bar{
    -fx-background-color: linear-gradient(#FFFFFF 45%, #EFEFEF 55%, transparent 100%)
}

#root{
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #C6FFD5, #B1FFC6);
}

#search_text{
    -fx-alignment: left;
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}